# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Data files (important if large or raw)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (optional)
*.pkl
*.joblib

# Logs
*.log